<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it" class="h-100">
	<head th:replace="../template/base-template :: headFragment"></head>
	<body class="d-flex flex-column h-100">
		<div class="container">
			<nav th:replace="../template/base-template :: navFragment"></nav>
			<div th:replace="../template/base-template :: headerFragment"></div>		
			<div class="row mt-4">
				<div class="col-12 text-center">
					<h4 th:text="#{label.articlecard}"></h4>
				</div>
			</div>
			<div class="row justify-content-center mt-4">
				<div class="col-5">
					<div th:if="${formError}" th:text="#{error.fielderrors}" 
						class="alert alert-danger mt-4 text-center" role="alert"></div>
					<form action="articlecard/editarticle" method="POST">
						<div class="row">
							<div class="col-12">
								<label for="description" th:text="#{label.description} + ':'"></label>
								<input type="text" id="description" name="description" class="form-control" 
									th:value="${article.description}" required="required">
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<label for="price" th:text="#{label.price} + ':'"></label>
								<input type="number" step="any" id="price" name="price" class="form-control" 
									th:value="${article.price}" required="required">
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<label for="image" th:text="#{label.articleimage} + ':'"></label>
								<input type="file" id="image" name="image" class="form-control">
							</div>
						</div>
						<div class="row mt-4">
							<div class="col-12 text-center">
								<input type="submit" th:value="#{btn.register}" class="btn btn-primary large-button">&emsp;
								<a th:href="@{/}" class="btn btn-secondary large-button" th:text="#{btn.back}"></a>
							</div>
						</div>
					</form>
				</div>
				<div class="col-2"></div>
				<div class="col-5 text-center">
					<img th:src="@{static/image/markerImage.png}" class="img-thumbnail mt-4" alt="article"
						style="width:160px;max-width:160px;height:180px;max-height:180px;">
				</div>
			</div>
		</div>
	</body>
	<footer th:replace="../template/base-template :: footerFragment"></footer>
</html>